/*================================================
Backgrounds CSS
=================================================*/

.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&.bg-image-contain {
		background-size: contain;
	}

	&.bg-image-left {
		background-position: left;
	}

	&.bg-image-right {
		background-position: right;
	}
}

.bg-white-10 {
	background-color: rgba(white, 0.1) !important;
}

.bg-primary {
	@include frontend-token(background-color, --primary, $primary);
}

.bg-secondary {
	@include frontend-token(background-color, --secondary, $secondary);
}

.bg-info {
	@include frontend-token(background-color, --info, $info);
}