/*================================================
Default CSS
=================================================*/
@import 'utils/mixins';

body {
    padding: 0;
    margin: 0;
    @include frontend-token(font-family, --ft-font, $ft-font);
    font-size: 16px;
    @include frontend-token(color, --ft-text, $ft-text);
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.d-table {
    width: 100%;
    height: 100%;
    display: table!important;

    &-cell {
        vertical-align: middle;
        display:table-cell!important;
    }
}

a {
    color: $ft-text;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: 0 !important;

    &:hover {
        @include frontend-token(color, --primary, $primary);
        text-decoration: none;
    }
}

button {
    outline: 0 !important;
}

.ptb-70 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-70 {
    padding-top: 80px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-11 {
    margin-top: 11rem !important;
}

.bg-f7fafd {
    background-color: #f7fafd;
}

.bg-f6f4f8 {
    background-color: #f6f4f8;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    @include frontend-token(font-family, --ft-nav-font, $ft-nav-font);
    @include frontend-token(color, --ft-text, $ft-text);
    font-weight: 600;
}

p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: #57647c;
    font-weight: 300;
    font-size: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

#content {
    min-height: 100vh;
}

// Viewport controls
.page-editor__layout-viewport--size-tablet,
.page-editor__layout-viewport--size-landscapeMobile,
.page-editor__layout-viewport--size-portraitMobile {
    z-index: 988 !important;
}

// CLAY FIXES --------------------------------------------------------------
/*Grid spacing*/
.col-1, .col-xs-1, .col-2, .col-xs-2, .col-3, .col-xs-3, .col-4, .col-xs-4, .col-5, .col-xs-5, .col-6, .col-xs-6, .col-7, .col-xs-7, .col-8, .col-xs-8, .col-9, .col-xs-9, .col-10, .col-xs-10, .col-11, .col-xs-11, .col-12, .col-xs-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 12px;
    padding-right: 12px;
}
/* Rows strange margin */
.row, .form-horizontal > .form-group {
    margin: 0px;
}
/*Page links in pagination*/
.page-item.disabled .page-link {
    border: none;
}
.page-item.active .page-link, 
.nav-underline .tab.active a.page-item .page-link, 
.page-item.show .page-link {
    border: none;
    @include frontend-token(background-color, --primary, $primary);
}

/* navbar expand-lg */
@media only screen and (max-width: 991px) {
    .navbar-toggle {
        display: block;
    }
}

body.has-control-menu.publications-enabled .page-editor__sidebar {
    height: calc(100vh - 146px);
    top: 146px;
}
//---------------------------------------------------------------------------

/*form-control*/
.form-control {
    // Breaks Style books forms - height: 50px;
    padding: 0 15px;
    font-size: 16px;
    // Breaks Style books forms - line-height: 50px;
    @include frontend-token(color, --ft-text, $ft-text);
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &:focus {
        -webkit-box-shadow: unset !important;
                box-shadow: unset !important;
        @include frontend-token(border-color, --primary, $primary);
    }
}

// Sticker Variants
.sticker {
    background-color: transparent !important;
}

/* Features List */
ul.features-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
            align-items: center !important;
    padding-left: 0;
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    margin-top: -5px;
    
    li {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
                flex: 0 0 50%;
        max-width: 50%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        span {
            display: block;
            color: #57647c;
            position: relative;
            padding-left: 31px;
            font-size: 14px;
            font-weight: 400;

            i {
                position: absolute;
                left: 0;
                top: -1px;
                color: #ffffff;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                width: 22px;
                height: 20px;
                text-align: center;
                line-height: 18px;
                @include btn-deg-rev;
                border-radius: 3px;

                &::before {
                    font-size: 10px;
                }
            }
        }

    }
  }

@import 'backgrounds';
@import 'buttons';
@import 'footer';
@import 'gotop';
@import 'header';
@import 'preloader';
@import 'widgets';
@import 'forms';
@import 'agemodal';