/************************************************************ 
**
**                    2. MAIN NAVIGATION
** 
************************************************************/
#sidemenu-wrapper {
    background-color: #121324;
    position: fixed;
    display: block;
    z-index: 1000;
    height: 100%;
    width: 85%;
    left: -85%;
    overflow: hidden;

    .sidemenu-header {
        height: 60px;
        line-height: 60px;
        background-color: #0c0d18;
        width: 100%;

        .logo {
            display: none;
            padding-left: 20px;
            padding-right: 20px;
            -webkit-transition: padding 0.4s ease-out;
            -moz-transition: padding 0.4s ease-out;
            -o-transition: padding 0.4s ease-out;
            -ms-transition: padding 0.4s ease-out;
            transition: padding 0.4s ease-out;
            font-family: 'Roboto', sans-serif;;
            line-height: 60px;
        }
    }

    .sidemenu-main {
        .scroll-container-wrapper {
            position: relative;
            height: 100%;
            overflow: hidden;
            left: 0;
            right: 0;
        }

        .scroll-container > .menu-section:first-child {
            border-top: none;
        }

        .menu-section {
            border-top: 1px solid rgba(255, 255, 255, 0.07);
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 4px;
        }
    }
}


.menu-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    & > li {
        min-height: 20px;
        padding: 8px 10px;
        overflow: hidden;
        position: relative;
        margin-bottom: 0;
        -webkit-transition: margin .2s ease-out, background-color .4s ease-out;
        -moz-transition: margin .2s ease-out, background-color .4s ease-out;
        -o-transition: margin .2s ease-out, background-color .4s ease-out;
        -ms-transition: margin .2s ease-out, background-color .4s ease-out;
        transition: margin .2s ease-out, background-color .4s ease-out;

        &.current {
            background-color: rgba(255, 255, 255, 0.03);
        }

        & > a {
            font-family: 'Roboto', sans-serif;;
            font-size: 0.875em;
            color: #ffffff;
            display: block;
            position: relative;
            font-size: 0.875em;
            font-weight: 400;
            letter-spacing: 0.04em;
            text-transform: none;
            line-height: 1em;
            padding: 2px;
        }

        &  > .menu-arrow {
            color: #ffffff;
            display: block;
            position: absolute;
            z-index: 999;
            top: 10px;
            right: 10px;
            height: 20px;
            line-height: 20px;
            width: 20px;
            text-align: center;
            font-family: 'icomoon';
            font-style: normal;
            font-size: 20px;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            transition: all .3s ease-out;

            &:active {
                cursor: pointer;
                opacity: .9;
            }

            &:before {
                content: "\f106";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                text-decoration: inherit;
                -webkit-font-smoothing: antialiased;
                opacity: .7;
                -webkit-transition: opacity 0.3s ease-out;
                -moz-transition: opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-out;
                -ms-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out;
            }
        }
    }

    & > .has-submenu {

        & > .submenu {
            margin: 5px 0 0 0;
            position: static;
            min-width: auto;
            border: none;
            background: none;
            list-style: disc;
            display: none;

            li a {
                line-height: 24px;
            }

            & > li > a {
                font-size: 0.813em;
                color: #ffffff;
                display: block;
                position: relative;
                margin: 0;
                padding: 2px;
                opacity: 0.8;
                min-height: 20px;
                line-height: 20px;
                font-weight: 400;
            }
        }

        &.open {

            & > .submenu {
                display: block;
                -webkit-animation: fadein .2s;
                -moz-animation: fadein .2s;
                -ms-animation: fadein .2s;
                -o-animation: fadein .2s;
                animation: fadein .2s;
            }

            .menu-arrow:before {
                content: "\f107";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                text-decoration: inherit;
                -webkit-font-smoothing: antialiased;
            }

            .menu-arrow:after {
                border-bottom: 5px solid #ffffff;
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                opacity: 0;
                -webkit-transition: opacity 0.3s ease-out;
                -moz-transition: opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-out;
                -ms-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out;
            }
        }
    }
}

/**** RESPONSIVE CONFIG ****/
@media only screen and (min-width: 480px) {
    #sidemenu-wrapper .sidemenu-main .menu-section {
        width: 250px;
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .menu-list {
        & > li {
            height: 40px;
        }

        & > .has-submenu > .submenu {
            margin: 10px 0;

            li a {
                line-height: 20px;
            }

            & > li > a {
                -webkit-transition: opacity 0.3s ease-out;
                -moz-transition: opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-out;
                -ms-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out;

                &:hover {
                    opacity: 9.5;
                }
            }
        }

        & > li > .menu-arrow {
            height: 40px;
            line-height: 40px;
            width: 40px;
            top: 0;
            right: 0;

            &:hover {
                cursor: pointer;
                opacity: .9;
            }

            &:after{
                opacity: 0.4;
            }

            &:before  {
                opacity: 0;
            }
        }
    }
}

@media only screen and (min-width: 993px) {
    #sidemenu-wrapper {
        left: 0;
        -webkit-transition: left .4s ease-out, width .4s ease-out;
        -moz-transition: left .4s ease-out, width .4s ease-out;
        -o-transition: left .4s ease-out, width .4s ease-out;
        -ms-transition: left .4s ease-out, width .4s ease-out;
        transition: left .4s ease-out, width .4s ease-out;
        width: 250px;

        .sidemenu-header {
            .logo {
                display: block;
                padding-left: 20px;
                padding-right: 20px;
            }

            .menu-section {
                width: 250px;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-left: 10px;
                padding-right: 10px;
                -webkit-transition: width .4s ease-out, margin-left .4s ease-out, padding .4s ease-out;
                -moz-transition: width .4s ease-out, margin-left .4s ease-out, padding .4s ease-out;
                -o-transition: width .4s ease-out, margin-left .4s ease-out, padding .4s ease-out;
                -ms-transition: width .4s ease-out, margin-left .4s ease-out, padding .4s ease-out;
                transition: width .4s ease-out, margin-left .4s ease-out, padding .4s ease-out;
            }
        }
    }

    .logo a.mini-logo {
        display: none;
    }

    .menu-list > li {
        height: auto;

        & > .menu-arrow {
            height: 20px;
            line-height: 20px;
            width: 20px;
            top: 10px;
            right: 10px;

            &:after{
                opacity: 0;
            }

            &:before  {
                opacity: 0.4;
            }
        }

        & > a span {
            opacity: 0.8;
            width: 130px;
            padding-left: 6px;
            -webkit-transition: opacity 0.2s ease-out;
            -moz-transition: opacity 0.2s ease-out;
            -o-transition: opacity 0.2s ease-out;
            -ms-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
        }
    }

    /*** Minified menu ***/
    .sidemenu-is-closed {

        .toolbar {
            padding-left: 60px;
        }

        .logo a.real-logo {
            display: none;
        }

        #sidemenu-wrapper {
            width: 60px;

            .menu-section .menu-list li {
                height: 40px;
                width: 40px;

                a span {
                    opacity: 0;
                }
            }
        }
    }
}
