/************************************************************ 
**
**                    4. RIGHT NAVIGATION
** 
************************************************************/
#page-wrapper {
    #right-sidebar {
        background: #fff;
        width: 25%;
        position: absolute;
        z-index: 18;
        -webkit-transition: right .6s;
        -moz-transition: right .6s;
        transition: right .6s;
        right: 0;    
        top: 60px;
        height: calc(100vh - 60px);
        padding-bottom: 30px;
        box-shadow: 0 0 4rem rgba(0,0,0,.09)!important;
        overflow-y: hidden!important;
        touch-action: none;
    }

    &.sidebar-hidden {
        overflow: hidden;
        #right-sidebar {
            right: -40%!important;
        }
    }

    .widget {
        padding: 20px;
        border-bottom: 1px solid #f0f0f6;
    }
}
