@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'responsive';
@import 'mixins';
@import 'container_fix';
@import 'search_bar';
@import 'vertical_navigation';

#main-content {
    margin-top: var(--spacer-7) !important;
}

.portlet-borderless .portlet-content {
    padding: 0 !important;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}

.page-editor__disabled-area,
.page-editor__layout-viewport--size-desktop {
    padding-right: 0 !important;
}

.page-editor__layout-viewport--size-tablet,
.page-editor__layout-viewport--size-landscapeMobile,
.page-editor__layout-viewport--size-portraitMobile,
.lfr-simulation-device {
      z-index: 988 !important;
}

/** MI Theme Badges **/
#wrapper {
    .mi-badge {
        border-radius: 1em;

        &-primary {
            color: var(--primary, $primary);
            background-color: transparentize($primary, .7);
        }

        &-secondary {
            color: var(--secondary, $primary);
            background-color: transparentize($secondary, .7);
        }

        &-info {
            color: var(--info, $primary);
            background-color: transparentize($info, .7);
        }

        &-warning {
            color: var(--warning, $primary);
            background-color: transparentize($warning, .7);
        }

        &-success {
            color: var(--success, $primary);
            background-color: transparentize($success, .7);
        }

        &-danger {
            color: var(--danger, $primary);
            background-color: transparentize($danger, .7);
        }

        &-dark {
            color: var(--dark, $primary);
            background-color: transparentize($dark, .7);
        }

        &-light {
            color: var(--light, $primary);
            background-color: transparentize($light, .3);
        }
    }
} 


#content {
    overflow-wrap: anywhere;
}

//

@media (min-width: 576px) {
    .page-editor__layout-viewport--with-sidebar-open {
        padding-right: 0 !important;
    }
}

@media #{$mobile_and_tablet_devices} {
    #wrapper {
        display: block !important;
        flex-direction: initial;
    }
    #main-content,
    .content {
        margin-top: var(--spacer-2) !important;
    }
}