#mi-icon-menu {
    border-right: solid 1px var(--light);
    align-items: center;
    width: 74px;
    display: none;

    .item-icon .lexicon-icon {
        fill: var(--body-color);
        height: 2.8em;
        margin-top: -3px;
        width: 1.4em;
    }

    .navbar-brand {
        max-width: inherit;
    }

    .item-icon{
        border-left: solid 3px #fff;
        height: 2.8em;
        display: table;

        &.selected.active{
            border-left: solid 3px var(--primary);
            font-weight: bold;
        }
    }

}

#mi-menu {
    height: 100%;
    width: 375px;
    border-right: solid 1px var(--light);
    font-weight: 300;
    top: 0;
    position: relative;
    left: 0px;
    z-index: 988;
    background-color: #fff;
    transition: left .3s ease-in-out;

    &.active {
        left: 0px !important;
    }

    .navbar {
        justify-content: flex-start;
    }

    .item {
        border-left: solid 3px #fff;
        height: 2.8em;
        display: table;

        &.selected.active,
        &:hover {
            border-left: solid 3px var(--primary);
            font-weight: bold;
        }

        a {
            font-size: 1.35em;
            color: var(--body-color);
            text-decoration: none;
            vertical-align: middle;
            display: table-cell;
        }
    }       
}

body.open #mi-menu.active {
    left: 320px;
}

#mi-menu .personal-bar .sticker-circle,
#mi-icon-menu .personal-bar .sticker-circle{
    border-radius: 0.25em;
}

#mi-menu .personal-bar .taglib-icon-label,
#mi-icon-menu .personal-bar .taglib-icon-label {
    margin-left: 2px;
    font-size: 0.85em;
}

#vertical-nav-wrapper.has-secondary{
    ~ nav#mi-menu {
        left: -375px;
        position: absolute !important;
    }

    ~ nav#mi-icon-menu {
        display: flex;
    }
}

#mi-secondary-menu {
    padding-top: 80px;
    width: 300px;

    .navbar-nav {
        justify-content: flex-start;
        margin-right: 30%;
    }

    .item-child {
        height: 1.8em;
        display: table;
        padding-left: 30%;

        a {
            font-size: 0.95em;
            color: var(--body-color);
            text-decoration: none;
            vertical-align: middle;
            display: table-cell;
            padding: 1rem 1em;
            border-radius: 10px;

            .lexicon-icon {
                color: fade-out($primary, 0.8);
            }
        }

        &.selected.active,
        &:hover {
            font-weight: bold;

            .lexicon-icon {
                fill: var(--primary);
            }
            a {
                background: fade-out($primary, 0.8);
            }
        }
    }
}

.mobile-menu {
    display: none;
}

@media #{$mobile_device} {
    .mobile-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        justify-items: flex-start;
    }
    #mi-icon-menu, #mi-secondary-menu {
        display: none !important;
    }

    #mi-menu {
        left: -375px;
        position: absolute !important;
    }
}