/*================================================
Mixins
=================================================*/

@import 'variables';

@mixin btn-deg {
    background: -webkit-gradient(linear, left top, right top, from($primary), to($secondary));
    background: linear-gradient(90deg, $primary 0%, $secondary 100%);
}

@mixin btn-deg-rev {
    background: -webkit-gradient(linear, left top, right top, from($secondary), to($primary));
    background: linear-gradient(90deg, $secondary 0%, $primary 100%);
}

@mixin alt-btn-deg {
    background: -webkit-gradient(linear, left top, right top, from($ft-altbutton-primary), to($ft-altbutton-secondary));
    background: linear-gradient(90deg, $ft-altbutton-primary 0%, $ft-altbutton-secondaryy 100%);
}

@mixin alt-btn-deg-rev {
    background: -webkit-gradient(linear, left top, right top, from($ft-altbutton-secondary), to($ft-altbutton-primary));
    background: linear-gradient(90deg, $ft-altbutton-secondary 0%, $ft-altbutton-primary 100%);
}