/*================================================
Variables
=================================================*/

/** GLOBAL **/
$ft-text: #212529;
$ft-font: 'Roboto', sans-serif;

/** MENU OPTIONS **/
$ft-nav-font: 'Raleway', sans-serif;
$ft-nav-default-color: #fff;
$ft-nav-bgcolor: #fff;

/** BUTTONS **/
$ft-altbutton-primary: #7bc6dc;
$ft-altbutton-secondary: #57d192;

/** LOGO **/
$ft-logo-defaulth: 56px;
$ft-logo-stickyh: 50px;
$ft-logo-mobileh: 44px;